In [10]:
import pandas as pd

df = pd.read_csv(r"C:\Users\User\Downloads\Triangel\CarSales.csv")
df = df.drop_duplicates()
df = df.drop(columns=['Vehicle Type'])
df['Model'] = df['Model'].str.replace('05-Sep', '9-5').str.replace('03-Sep', '9-3')
df = df.dropna(subset=['Year Resale Value']).dropna(subset=['Price in Thousands'])
df = df.dropna(subset=['Curb Weight']).dropna(subset=['Power Factor']).dropna(subset=['Fuel Efficiency'])
def format_currency(value):
    if pd.isna(value):
        return "N/A"  # Handle missing values
    amount = value * 1000  # Convert from thousands to actual value
    return f"${amount:,.0f}"  # Format as currency with commas

# Apply formatting to the three columns
df['Sales in Thousands'] = df['Sales in Thousands'].apply(format_currency)
df['Year Resale Value'] = df['Year Resale Value'].apply(format_currency)
df['Price in Thousands'] = df['Price in Thousands'].apply(format_currency)
df['Horsepower'] = df['Horsepower'].astype(int)
df['Fuel Efficiency'] = df['Fuel Efficiency'].astype(int)
df['Curb Weight'] = df['Curb Weight'].round(1)
df['Power Factor'] = df['Power Factor'].round(1)
df['Sales'] = df['Sales in Thousands']
df

,Manufacturer,Model,Sales in Thousands,Year Resale Value,Price in Thousands,Engine Size,Horsepower,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Fuel Efficiency,Latest Launch,Power Factor
0,Acura,Integra,"$16,919","$16,360","$21,500",1.8,140,101.2,67.3,172.4,2.6,13.2,28,2/2/2012,58.3
1,Acura,TL,"$39,384","$19,875","$28,400",3.2,225,108.1,70.3,192.9,3.5,17.2,25,6/3/2011,91.4
3,Acura,RL,"$8,588","$29,725","$42,000",3.5,210,114.6,71.4,196.6,3.8,18.0,22,3/10/2011,91.4
4,Audi,A4,"$20,397","$22,255","$23,990",1.8,150,102.6,68.2,178.0,3.0,16.4,27,10/8/2011,62.8
5,Audi,A6,"$18,780","$23,555","$33,950",2.8,200,108.7,76.1,192.0,3.6,18.5,22,8/9/2011,84.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,"$9,761","$11,425","$14,900",2.0,115,98.9,68.3,163.3,2.8,14.5,26,1/24/2011,46.9
146,Volkswagen,Jetta,"$83,721","$13,240","$16,700",2.0,115,98.9,68.3,172.3,2.9,14.5,26,8/27/2011,47.6
147,Volkswagen,Passat,"$51,102","$16,725","$21,200",1.8,150,106.4,68.5,184.1,3.0,16.4,27,10/30/2012,61.7
148,Volkswagen,Cabrio,"$9,569","$16,575","$19,990",2.0,115,97.4,66.7,160.4,3.1,13.7,26,5/31/2011,48.9
149,Volkswagen,GTI,"$5,596","$13,760","$17,500",2.0,115,98.9,68.3,163.3,2.8,14.6,26,4/1/2011,47.9